.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(31, 54, 9, 0.9);
    width: 100%;
    height: 100%;
    z-index: 500;
    /* display: none; */
  }
  
  .modal-content {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video {
    margin: 50% auto;
  }
  
  iframe {
    width: 640px;
    height: 360px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.7);
  }

  