.match-list { 
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 940px) {
  .match-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .match-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .match-list {
    margin-top: 130px;
  }
}